appdirs==1.4.4
astroid==2.4.1
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
distlib==0.3.1
filelock==3.0.12
gunicorn==20.0.4
idna==2.10
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
PyExecJS==1.5.1
pygame==1.9.6
pylint==2.5.2
PyOpenGL==3.1.5
requests==2.24.0
robotframework==3.2.2
robotframework-pythonlibcore==2.1.0
robotframework-requests==0.7.1
robotframework-seleniumlibrary==4.5.0
selenium==3.141.0
six==1.15.0
toml==0.10.1
urllib3==1.25.11
virtualenv==20.4.0
virtualenvwrapper-win==1.2.6
wrapt==1.12.1
dj_database_url==0.4.2
gunicorn==19.7.1
whitenoise==3.3.0
