<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <article class="message is-success">
        <div class="message-header">
          <p>Cooridate</p>
        </div>
        <div class="message-body">
          <canvas id="myCanvas" width=300 height=300
              style="border:1px solid #d3d3d3;">
                  Your browser does not support the canvas element.
          </canvas>
      
          <script>
              var canvas = document.getElementById("myCanvas");
          </script>

              {% for x1,y1,x2,y2 in point %}
              <script>
              var ctx = canvas.getContext("2d");
                  ctx.moveTo( {{x1}}*30,300-({{y1}} *30));
                  ctx.lineTo( {{x2}}*30,300-({{y2}} *30));
                  ctx.stroke();
              </script> 
              {% endfor %} 

        </div>
      </article>
</body>
</html>